@if (!connected) {

  <div class="login-container">

    <h1>Connexion</h1>

    <input
      type="text"
      [(ngModel)]="blaze"
      placeholder="blaze"
      (keyup.enter)="login()"
    >

    <input
      type="password"
      [(ngModel)]="mdp"
      placeholder="mdp"
      (keyup.enter)="login()"
    >

    <button
      (click)="login()"
      [disabled]="loading"
    >
      {{ loading ? 'Connexion...' : 'Connexion' }}
    </button>

    @if (errorMessage) {
      <p class="error">
        {{ errorMessage }}
      </p>
    }

  </div>

} @else {

  <div class="welcome-container">

    <h1>bonjour {{ connectedBlaze }}</h1>

    <button (click)="logout()">
      Déconnexion
    </button>

  </div>

}
